
:root {
  --color-gray-f: #ffffff;
  --color-gray-1: #fbfbfb;
  --color-gray-2: #f5f5f5;
  --color-gray-3: #ebebeb;
  --color-gray-4: #e2e2e2;
  --color-gray-5: #dddddd;
  --color-gray-6: #bfbfbf;
  --color-gray-7: #8c8c8c;
  --color-gray-8: #7d7d7d;
  --color-gray-9: #434343;
  --color-gray-10: #262626;
  --color-gray-11: #1f1f1f;
  --color-gray-12: #141414;
  --color-gray-13-corporate: #d9dada;
  --color-gray-0: #000000;

  --color-orange-1: #fde3cf;
  --color-orange-2: #fbcba7;
  --color-orange-3: #f9b583;
  --color-orange-4: #f7a162;
  --color-orange-5: #f68f44;
  --color-orange-6-corporate: #ed7817;
  --color-orange-7: #e3660b;
  --color-orange-8: #bc5509;
  --color-orange-9: #9c4707;
  --color-orange-10: #813b06;
  --color-orange-11: #6b3105;

  --color-yellow-1: #fff8ec;
  --color-yellow-2: #fef0d8;
  --color-yellow-3: #fee5ba;
  --color-yellow-4: #fdd796;
  --color-yellow-5: #fdca75;
  --color-yellow-6: #fcbf57;
  --color-yellow-7-corporate: #fab82e;
  --color-yellow-8: #fda610;
  --color-yellow-9: #d38603;
  --color-yellow-10: #af6f02;
  --color-yellow-11: #915c02;
  --color-yellow-12: #784c02;

  --color-red-1: #fdf0ef;
  --color-red-2: #f8b9b4;
  --color-red-3: #f48981;
  --color-red-4: #eb5757;
  --color-red-5: #eb3333;
  --color-red-6-corporate: #e32213;
  --color-red-7: #bc1c10;
  --color-red-8: #9c170d;
  --color-red-9: #81130b;
  --color-red-10: #6b1009;
  --color-red-11: #590d07;
}

body {
  margin: 0;
  font-family: 'GT Eesti Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.a11y_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.input_static {
  font-size: 15px;
  font-weight: 375;
  --input-static-padding: 0.567em 0.6em 0.567em 0.933em;
  --input-static-color-label: var(--color-gray-7);
  --input-static-color-text: var(--color-gray-10);
  --input-static-color-background: var(--color-gray-f);
  --input-static-color-border: var(--color-gray-5);
  --input-static-color-border-hover: var(--color-gray-6);
  --input-static-color-border-focus: var(--color-gray-7);
}

.input_static.size--small {
  --input-static-padding: 0.367em 0.6em 0.367em 0.933em;
}

.input_static.size--large {
  --input-static-padding: 0.7em 0.6em 0.7em 0.933em;
}

.input_static.status--disabled {
  --input-static-color-text: var(--color-gray-6);
  --input-static-color-background: var(--color-gray-1);
  --input-static-color-border: var(--color-gray-3);
  --input-static-color-border-hover: var(--color-gray-3);
  --input-static-color-border-focus: var(--color-gray-3);
}

.input_static.status--error {
  --input-static-color-label: var(--color-red-5);
  --input-static-color-border: var(--color-red-5);
  --input-static-color-border-hover: var(--color-red-5);
  --input-static-color-border-focus: var(--color-red-5);
}

.input_static__label {
  line-height: 1em;
  font-size: 0.867em;
  display: inline-block;
  border: none;
  color: var(--input-static-color-label);
  margin-bottom: 0.333em;
  margin-left: 0.067em;
}

.input_static__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--input-static-padding);
  border: 0.067em solid var(--input-static-color-border);
  border-radius: 0.267em;
  background-color: var(--input-static-color-background);
}

.input_static__input:hover {
  border: 0.067em solid var(--input-static-color-border-hover);
}

.input_static__input:focus-within {
  border: 0.067em solid var(--input-static-color-border-focus);
}

.input_static__input input {
  display: block;
  width: 100%;
  padding: 0;
  background: transparent;
  border: none;
  color: var(--input-static-color-text);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.133em;
}

.input_static__input input:focus {
  outline: none;
}

.input_static__input input::placeholder {
  color: var(--color-gray-6);
}

.input_static__input input::-ms-reveal {
  display: none;
}

.input_static__icon {
  padding: 0;
  margin-left: 0.667em;
  display: flex;
  align-items: center;
}

.input_static__button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.input_static__error {
  margin: 0;
  font-size: 0.8em;
  line-height: 0.933em;
  color: var(--color-red-5);
  margin-left: 0.067em;
}

.input_static__required_marker {
  color: var(--color-red-5);
}


/*# sourceMappingURL=ECOPRO-components-InputPassword-InputPassword-stories.b59cd0a1.chunk.css.map*/